 <!-- Start Navbar -->
 <div class="container-fluid pl-0 pr-0 sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm " style="background-color: #dee2e6; ">
      <!-- Navbar content -->
      <a class="navbar-brand" href="/"><img src="assets/images/cct-logo.svg" alt="City of Cape Town Logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <!-- End Navbar content -->
    </nav>
    <!-- End Navbar -->
   
     
    </div>
  
  
